body {
    background-color: rgb(29, 29, 29);
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    margin: 0px;
}

a , p , div {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 3%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 100%;
}

.divbox {
    border: white;
    border-width: 0.5px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 500px;
    min-width: 200px;
    width: 90%;
    padding: 0%;
    background-color: rgb(60, 60, 60);
    border-radius: 25px;
}

.align {
    display:block;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
  }

.margin1 {
    margin-bottom: 1%;
}


.align h2{
    display:block;
    margin:0 auto;
}

.subheader {
    font-size: large;
    margin: 0 auto;
}

.explainer {
    font-size: x-large;
    margin: 0%;
    margin-bottom: 1%;
}


h1 {
    padding-top: 0.5%;
    color: white;
    background-color: black;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 150%;
    width: fit-content;
    padding: 0.5%;
    margin-top: 2%;
    margin-bottom: 0%;
    
}

hr {
    margin-top: 1%;
    height: 0.25%;
    background-color: white;
    padding: 0%;
}

br {
    display: block;
    margin: 0px 0;
 }

 button {
    color: white;
    font-size: xx-large;
 }

 .inp {
    padding-left: 1%;
    color: white;
    font-size: x-large;
    margin-bottom: 1%;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

svg {
    text-align: center;
    display: block;
    margin: auto;
    color: white;
}

tr , th{
    width: 33.333%;
    height: 33.333%;
    text-align: center;
    max-width: 33.333%;
    max-height: 33.333%;
    aspect-ratio: 1;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: black;
    border-radius: 100%;
    border-width: 25px;
}

.tablebox {
    border: white;
    border-width: 0.5px;
    border-style: solid;
    max-width: 500px;
    min-width: 200px;
    width: 90%;
    aspect-ratio: 1;
    padding: 0%;
    background-color: rgb(60, 60, 60);
    border-radius: 25px;
    box-sizing: border-box;
}

.border {
    border: white;
    border-width: 0.5px ;
    border-style: solid;
}

.buttonbox {
    width: 100%;
    aspect-ratio: 1;
    opacity: 0;
}

.tall {
    font-size: 250%;
}

.margin3{
    margin-bottom: 3%;
}

.grid-container {
    display: none;
    margin: 0%;
    grid-template-columns: auto auto auto;
    justify-content:center;
    gap: 3px;
}

.grid-item {
    border: 2px solid white;
    text-align: center;
    aspect-ratio: 1;
    height: 250px;
    margin: 0%;
    background-color: rgba(60, 60, 60);
    border-radius: 10px;
}